/**** BASICS ****/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
}

body {
    background: white;
}


h1 {
    color: plum;
    font-family: play, sans-serif;
    font-size: 2em;
    margin-bottom: 0;
    margin-left: 1%;
}

h2 {
    font-family: play, sans-serif;
    font-size: 1.7em;
    text-align: right;
    color: plum;
    letter-spacing: 0.4vw;
    text-transform: uppercase;
}

h3 {
    color: white;
    text-shadow: 5px 4px midnightblue;
    font-family: play;
    text-align: center;
    text-transform: uppercase;
    font-size: 4em;
    margin: 4.5em 0 0;
}

h4 {
    font-family: play, sans-serif;
    text-align: center;
    color: plum;
    margin-bottom: 12em;
    opacity: 0;
    -webkit-transition: 1s;
    transition: 1s;
}

h6 {
    font-family: play, sans-serif;
    font-size: 1.5em;

}

h4.yay {
    opacity: 1;
}

button {
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

#arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: plum;
    font-size: 2em;
}

h5 {
    font-family: play, sans-serif;
    color: plum;
    text-align: center;
}

p {
    font-family: play, sans-serif;
    color: midnightblue;
}

.details p {
    font-family: mr-eaves-modern, sans-serif;
}

p:last-child {
    text-align: right;
}

a {
    text-decoration: none;
    color: midnightblue;
}

nav a:hover {
    color: white;
    text-shadow: 2px 2px midnightblue;
}


/**** NAVIGATION ****/

nav > a {
    height: 65px;
    margin-left: 1em;
    margin-top: 1em;
    margin-right: auto;
}

nav img {
    height: 55px;
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}


ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: none;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-radius: 4em;
    margin: 1em 2em;
}

li {
    padding: 0.6em 3.5vw;
    font-size: 1.4em;
    line-height: 1.6em;
    font-family: aclonica, sans-serif;
    text-transform: uppercase;
    color: midnightblue;
}

li:last-child {
    border-radius: 4em 0 0 4em;
}


/**** BODY ****/


article {
    margin: 1%;
    padding: 1vw;
    border: 10px solid;
    -o-border-image-source: linear-gradient(-30deg, midnightblue, pink);
    border-image-source: linear-gradient(-30deg, midnightblue, pink);
    border-image-slice: 1;
}

article p {
    padding: 0 2em;
}

section a article:hover {
    border: 10px solid midnightblue;
}

section a article:hover h2 {
    color: midnightblue;
}

section article {
    margin-bottom: 1em;
    padding: 0.6em
}

@media (min-width: 40em) {
    section {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    article {
        min-height: 30em;
    }
}

@media (min-width: 80em) {
    section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0 5em;
    }

    article {
        min-height: 30em;
    }
}

article img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 13vw;
    min-height: 8em;
}


/**** DETAIL PAGINA ****/

.details {
    padding: 2vw;
    border: none;
    padding: 0;
}

.details h2 {
    text-align: left;
    color: pink;
}

.details img {
    width: 100%;
    height: 100%;
    -webkit-filter: saturate(1);
    filter: saturate(1);
    margin: 0;
    padding: 0;
}

.details p {
    max-width: 70ch;
    color: black;
    text-align: left;
}

article .phonesgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 1em;
    column-gap: 3vw;
    grid-row-gap: 2vw;
}

.phonesgrid img {
    height: auto;
}

@media (min-width: 40em) {
    article .phonesgrid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        padding: 0 4vw;
    }
}

@media (min-width: 80em) {
    article .phonesgrid {
        padding: 0 8vw;
}


/**** ABOUT ****/
.about {
    padding: 2vw;
    border: none;
}

.about h2 {
    text-align: left;
    color: pink;
}

.about img {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
    width: 100%;
    height: 20em;
    margin: 0;
    padding: 0;
    -webkit-filter: saturate(0);
    filter: saturate(0);
}

.about p {
    max-width: 70ch;
    text-align: left;
}




/**** CONTACT ****/

#head {
    margin-top: 1em;
    margin-bottom: 0.5em
}

form {
    -webkit-box-shadow: 0.3em 0.3em midnightblue;
    box-shadow: 0.3em 0.4em midnightblue;
    padding: 3em 2em;
    margin: 1em 3em;
}

label {
    float: left;
    text-align: right;
    margin-right: 15px;
    width: 100px;
    font-family: play;
}

input {
    border: 2px solid midnightblue;
    height: 2em;
    width: 12em;
    -webkit-transition: .5s;
    transition: .5s;
    margin-bottom: 7%;
}

#eyecolor {
    border: none;
}

input[type=submit] {
    margin: 3em 30% 0;
    height: 3em;
    font-family: play;
    text-transform: uppercase;
    background: midnightblue;
    border-radius: 0.8em;
    color: white;
}

input[type=submit]:focus,
input[type=submit]:hover {
    background: plum;
}

textarea {
    height: 2em;
    width: 12em;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    border: 2px solid midnightblue;
}

input:hover,
textarea:hover {
    outline: 2px solid plum;
}

textarea:focus {
    height: 4em;
    width: 18em;
}

input:focus {
    width: 18em;
    outline: 2px solid midnightblue;
}

input:invalid {
    outline: 2px solid plum;
    border: none;
}

input[type=submit],
input[type=color] {
    outline: none;
}

input[type=submit]:focus,
input[type=color]:focus {
    width: 12em;
}
