/**** BASICS ****/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: white;
}


h1 {
    color: plum;
    font-family: play, sans-serif;
    font-size: 2em;
    margin-bottom: 0;
    margin-left: 1%;
}

h2 {
    font-family: play, sans-serif;
    font-size: 1.7em;
    text-align: right;
    color: plum;
    letter-spacing: 0.4vw;
    text-transform: uppercase;
}

h3 {
    color: white;
    text-shadow: 5px 4px midnightblue;
    font-family: play;
    text-align: center;
    text-transform: uppercase;
    font-size: 4em;
    margin: 4.5em 0 0;
}

h4 {
    font-family: play, sans-serif;
    text-align: center;
    color: plum;
    margin-bottom: 12em;
    opacity: 0;
    -webkit-transition: 1s;
    transition: 1s;
}

h4.yay {
    opacity: 1;
}

button {
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

#arrow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: plum;
    font-size: 2em;
}

h5 {
    font-family: play, sans-serif;
    color: plum;
    text-align: center;
}

p {
    font-family: play, sans-serif;
    color: midnightblue;
}

p:last-child {
    text-align: right;
}

a {
    text-decoration: none;
    color: midnightblue;
}

a:hover {
    color: white;
    text-shadow: 2px 2px midnightblue;
}


/**** NAVIGATION ****/

nav > a {
    height: 65px;
    margin-left: 1em;
    margin-top: 1em;
    margin-right: auto;
}

nav img {
    height: 55px;
}

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}


ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: none;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-radius: 4em;
    margin: 1em 2em;
}

li {
    padding: 0.6em 3.5vw;
    font-size: 1.4em;
    line-height: 1.6em;
    font-family: aclonica, sans-serif;
    text-transform: uppercase;
    color: midnightblue;
}

li:last-child {
    border-radius: 4em 0 0 4em;
}



/**** BODY ****/


article {
    margin: 1%;
    padding: 1vw;
    border: 10px solid;
    -o-border-image-source: linear-gradient(-30deg, midnightblue, pink);
    border-image-source: linear-gradient(-30deg, midnightblue, pink);
    border-image-slice: 1;
}

article p {
    padding: 0 2em;
}

section article:hover {
    background-image: linear-gradient(-30deg, midnightblue, pink);
    image-filter: saturate(100);
}

section article:hover p {
    color: white;
}

section article {
    margin-bottom: 1em;
    padding: 0.6em
}

@media (min-width: 40em) {
    section {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 80em) {
    section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 0 5em;
    }
}

article img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 13vw;
    min-height: 8em;
}


/**** DETAIL PAGINA ****/

.details {
    padding: 2vw;
    border: none;
}

.details h2 {
    text-align: left;
    color: pink;
}

.details img {
    width: 100%;
    height: 100%;
    -webkit-filter: saturate(1);
    filter: saturate(1);
    margin: 0;
    padding: 0;
}

.details p {
    max-width: 70ch;
    text-align: left;
}
